# Koneoppiminen: Osa 6: Satunnaismetsä

In [2]:
# Kirjoita tähän tietosi!
student_name = 'Riikka Kokko'
student_id = 'AA9067'

## Tehtävä 1
### Aihe: Tekstiilityöntekijöiden tuottavuus

4 pistettä

1. Tutustu ja lataa aineisto osoitteesta https://archive.ics.uci.edu/ml/datasets/Productivity+Prediction+of+Garment+Employees# . Lataa aineisto DataFrameen. 

2. Jätä pois taustamuuttujat analysoitavasta datasta.

3. Ratkaise mitä teet puuttuville arvoille.

4. Normalisoi. 

5. Luo lisäksi luokkamuuttuja, joka on arvoltaa 0, jos tuottavuus on alle 0.5 ja arvoltaan 1, jos tuottavuus on yli 0.5. Tallenna tämä df-muuttujaan sarakkeeksi `class`.

In [95]:
# Kirjoita toteutuksesi tähän soluun. 
# Lataa aineisto DataFrameen.
import pandas as pd
df=pd.read_csv("garments_worker_productivity.csv")
df.head(25)

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
5,1/1/2015,Quarter1,sweing,Thursday,7,0.80,25.90,984.0,6720,38,0.0,0,0,56.0,0.800125
6,1/1/2015,Quarter1,finishing,Thursday,2,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.755167
7,1/1/2015,Quarter1,sweing,Thursday,3,0.75,28.08,795.0,6900,45,0.0,0,0,57.5,0.753683
8,1/1/2015,Quarter1,sweing,Thursday,2,0.75,19.87,733.0,6000,34,0.0,0,0,55.0,0.753098
9,1/1/2015,Quarter1,sweing,Thursday,1,0.75,28.08,681.0,6900,45,0.0,0,0,57.5,0.750428
10,1/1/2015,Quarter1,sweing,Thursday,9,0.70,28.08,872.0,6900,44,0.0,0,0,57.5,0.721127
11,1/1/2015,Quarter1,sweing,Thursday,10,0.75,19.31,578.0,6480,45,0.0,0,0,54.0,0.712205
12,1/1/2015,Quarter1,sweing,Thursday,5,0.80,11.41,668.0,3660,50,0.0,0,0,30.5,0.707046
13,1/1/2015,Quarter1,finishing,Thursday,10,0.65,3.94,NaN,960,0,0.0,0,0,8.0,0.705917
14,1/1/2015,Quarter1,finishing,Thursday,8,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.676667
15,1/1/2015,Quarter1,finishing,Thursday,4,0.75,3.94,NaN,2160,0,0.0,0,0,18.0,0.593056
16,1/1/2015,Quarter1,finishing,Thursday,7,0.80,2.90,NaN,960,0,0.0,0,0,8.0,0.540729
17,1/1/2015,Quarter1,sweing,Thursday,4,0.65,23.69,861.0,7200,0,0.0,0,0,60.0,0.521180
18,1/1/2015,Quarter1,finishing,Thursday,11,0.70,4.15,NaN,1440,0,0.0,0,0,12.0,0.436326
19,1/3/2015,Quarter1,finishing,Saturday,4,0.80,4.15,NaN,6600,0,0.0,0,0,20.0,0.988025
20,1/3/2015,Quarter1,finishing,Saturday,11,0.75,2.90,NaN,5640,0,0.0,0,0,17.0,0.987880
21,1/3/2015,Quarter1,finishing,Saturday,9,0.80,4.15,NaN,960,0,0.0,0,0,8.0,0.956271
22,1/3/2015,Quarter1,finishing,Saturday,3,0.75,3.94,NaN,1560,0,0.0,0,0,8.0,0.945278
23,1/3/2015,Quarter1,finishing,Saturday,1,0.80,3.94,NaN,960,0,0.0,0,0,8.0,0.902917
24,1/3/2015,Quarter1,sweing,Saturday,1,0.80,28.08,772.0,6300,50,0.0,0,0,56.5,0.800725

In [96]:
#Jätä pois taustamuuttujat analysoitavasta datasta.
new_df=df.drop(['date'], axis = 1)
new_df=new_df.drop(['quarter'], axis = 1)
new_df=new_df.drop(['department'], axis = 1)
new_df=new_df.drop(['day'], axis = 1)
new_df.head()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [97]:
#df['incentive'].value_counts()
df['department'].value_counts()

sweing        691
finishing     257
finishing     249
Name: department, dtype: int64

In [98]:
#Ratkaise mitä teet puuttuville arvoille.
new_df.isnull()
print(new_df.isnull().sum())

team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_style_change         0
no_of_workers              0
actual_productivity        0
dtype: int64

In [99]:
new_df['wip'].value_counts()

1039.0    5
1282.0    4
1108.0    3
1448.0    3
759.0     3
         ..
1500.0    1
824.0     1
1512.0    1
869.0     1
1239.0    1
Name: wip, Length: 548, dtype: int64

In [121]:
new_df['actual_productivity'].value_counts()
new_df['actual_productivity'].value_counts()

0.800402    24
0.971867    12
0.850137    12
0.750651    11
1.000230    11
            ..
0.864343     1
0.838384     1
0.989000     1
0.852794     1
0.671875     1
Name: actual_productivity, Length: 879, dtype: int64

In [100]:
new_df.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.000000,1197.000000,1197.000000,691.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,15.062172,1190.465991,4567.460317,38.210526,0.730159,0.369256,0.150376,34.609858,0.735091
std,3.463963,0.097891,10.943219,1837.455001,3348.823563,160.182643,12.709757,3.268987,0.427848,22.197687,0.174488
min,1.000000,0.070000,2.900000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.233705
25%,3.000000,0.700000,3.940000,774.500000,1440.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.650307
50%,6.000000,0.750000,15.260000,1039.000000,3960.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.773333
75%,9.000000,0.800000,24.260000,1252.500000,6960.000000,50.000000,0.000000,0.000000,0.000000,57.000000,0.850253
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,3600.000000,300.000000,45.000000,2.000000,89.000000,1.120437

In [101]:
#new_df.head(50)

In [102]:
new_df.sort_values(by=['wip'], inplace=True, ascending=False)

In [103]:
new_df=new_df.interpolate(method ='linear', limit_direction ='forward')

In [104]:
print(new_df.isnull().sum())

team                     0
targeted_productivity    0
smv                      0
wip                      0
over_time                0
incentive                0
idle_time                0
idle_men                 0
no_of_style_change       0
no_of_workers            0
actual_productivity      0
dtype: int64

In [105]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tallenna DataFrame df-muuttujaan ja koulutusaineisto.
print(f'Columns: {df.columns}')
print(f'First row by position: {df.iloc[0]}')

Columns: Index(['date', 'quarter', 'department', 'day', 'team', 'targeted_productivity',
       'smv', 'wip', 'over_time', 'incentive', 'idle_time', 'idle_men',
       'no_of_style_change', 'no_of_workers', 'actual_productivity'],
      dtype='object')
First row by position: date                     1/1/2015
quarter                  Quarter1
department                 sweing
day                      Thursday
team                            8
targeted_productivity         0.8
smv                         26.16
wip                          1108
over_time                    7080
incentive                      98
idle_time                       0
idle_men                        0
no_of_style_change              0
no_of_workers                  59
actual_productivity      0.940725
Name: 0, dtype: object

## Tehtävä 2
### Aihe: Regressio

3 pistettä

1. Jaa aineisto koulutus- (67%) ja testausaineistoksi (33%) tallentaen myös luokkamuuttujat omiksi vektoreiksi (`X_train`, `y_train`, `X_test`, `y_test`). Käytä satunnaissiementä `23`.

Vinkki: älä laita sarakkeita `actual_productivity` tai `class` aineistoon `X`-muuttujiin.

2. Käytä `scikit-learn`-kirjaston `ensemble`-moduulin [funktioita](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.ensemble) ja luo regressiomalli satunnaismetsää hyödyntäen. Yritetään siis ennustaa `actual_productivity`-muuttujaa. 

Käytä satunnaissiementä `753`.

3. Ennusta testausaineiston `actual_productivity`. Tallenna selitetty varianssi `exp_var` ja suurin virhe `max_err` kirjaston `metrics`-moduulin työkaluilla.

In [106]:
# Kirjoita toteutuksesi tähän soluun.

In [107]:
from sklearn.model_selection import train_test_split
X=new_df.drop("actual_productivity", axis=1)
y=new_df["actual_productivity"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=23)

In [127]:
from sklearn import preprocessing
lab_enc = preprocessing.LabelEncoder()
training_scores_encoded = lab_enc.fit_transform(y_train)

In [132]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
#X, y = make_classification(random_state=753)
clf = RandomForestClassifier(max_depth=2, random_state=753)

clf.fit(X_train, training_scores_encoded)
print(clf.predict(y_test))

ValueError: Expected 2D array, got 1D array instead:
array=[0.7006034  0.7273495  0.9217037  0.58204544 0.40954545 0.7027778
 0.80014867 0.79996324 0.92907405 0.80038637 0.75005734 0.7004599
 0.5000339  0.77815    0.8271865  0.59305555 0.6323611  0.7006053
 0.9217037  0.61625    0.85013676 0.37046656 0.8504269  0.560625
 0.80026084 0.50011766 0.6665152  0.8004     0.8005661  0.6183611
 0.800402   0.6840278  0.8319375  0.75072736 0.70266664 0.7429012
 0.50072014 0.8010282  0.52118    0.750608   0.80047053 0.9005371
 0.46340394 0.80047375 0.29530773 0.72693336 0.8007115  0.5046875
 0.7002366  0.9127667  0.800402   0.7505931  0.80034375 0.37659723
 0.7144105  0.96201664 0.97186667 0.9103788  0.80007184 0.7507994
 0.28533334 0.41155356 0.7715833  0.750243   0.88426137 0.89916664
 0.40324217 0.7552083  0.750717   0.47729167 0.69998443 0.7000298
 0.84506947 0.7000957  0.85013676 0.2609788  0.99992424 0.85044616
 0.55550015 0.7018125  0.80059445 0.31385282 0.80003405 0.8001818
 0.24731602 0.80062985 0.80027384 0.80051666 0.40635416 0.54072917
 0.87306815 0.36107144 0.8300625  0.5058889  0.46682122 0.700079
 0.8645833  0.6003697  0.5814     0.989      0.8002373  0.6346667
 0.85036206 0.9504386  0.91522914 0.93041664 0.8505321  0.80007654
 0.8503127  0.80077904 0.3503017  0.87539065 0.8002468  0.75003797
 0.85695    0.8092361  0.46769327 0.6505965  1.0002304  0.7962083
 0.700422   0.65014815 0.8235555  0.8454583  0.96666664 0.4605787
 0.53839964 0.85034513 0.75006276 0.8505023  0.8581439  0.960625
 0.34583333 0.47076923 0.812625   0.725      0.5045965  1.0002304
 0.99953336 0.560625   1.0002304  0.750243   0.80005574 0.7000698
 0.93034035 0.8059091  0.8000206  0.80059445 0.8002468  0.6265778
 0.8001171  0.800402   0.3715625  0.7503448  0.6034322  0.80687916
 1.0115625  0.99999523 0.4321229  1.0502806  0.7055766  0.861679
 0.75039554 0.60022986 0.97186667 0.8645833  0.7005417  0.8454583
 0.8705808  0.6892992  0.68755555 0.75079703 0.5005475  0.72693336
 1.108125   0.94998163 0.7002568  0.8003749  0.7504737  0.75006807
 0.8005705  0.4078125  0.750243   0.75064665 0.7005569  0.7500315
 0.85858583 0.9202369  0.8000302  0.800246   0.602      0.43632638
 0.7502069  0.95018595 0.7505931  0.90291667 0.6228281  0.8502525
 0.89219445 0.60194445 0.350067   0.70006037 0.95311004 0.5659722
 0.7000638  0.65019864 0.66760415 0.80003136 0.8008     0.728303
 0.80031866 0.6012784  0.7999759  0.9199054  0.85043645 0.6398674
 0.8000206  0.8581439  0.750651   0.8581439  0.50080174 0.95018595
 0.800402   0.8511741  0.99999523 0.8005133  0.8606534  1.0002304
 0.7536835  0.97186667 0.6002242  0.80031866 0.8001287  0.81927085
 0.741      0.8603704  0.89060414 0.31416667 0.8009475  0.8003134
 0.800402   0.664875   0.9604333  0.70005834 1.0596212  0.7500579
 0.6827083  0.3555345  0.8009804  0.6623793  0.8865     0.7945667
 0.63861436 0.2565     0.75064814 0.60691285 0.90014726 0.96178454
 0.9886364  0.9025     0.750651   0.75035614 0.8059091  0.7504507
 0.4999989  0.60006267 0.93460745 0.7003862  0.94072545 0.85791665
 0.97186667 0.75005084 0.8502238  0.7505036  0.8001626  0.85036457
 0.43799534 0.6270112  0.456875   0.670216   0.4925     0.3323593
 0.5375     0.7500278  0.8581439  0.8113889  0.9228395  0.80027384
 0.800402   0.58       0.80014414 0.8000206  0.89155555 0.7006034
 0.85013676 0.8001498  0.80090964 0.7001704  0.8        0.87115
 0.89155555 0.7        1.0331556  0.71533334 0.9641061  0.9700758
 0.4499649  0.70065963 0.75034845 0.7005162  0.46319443 0.77979165
 0.75009835 1.0002304  0.8        0.76929295 0.82829547 0.7506517
 0.55333334 0.271875   0.9589015  0.65100706 0.950625   0.861875
 0.7003621  0.93724245 0.9008     0.8001287  0.5000251  0.68801767
 0.97186667 0.38883036 0.35003126 0.79675555 0.3503017  0.99999523
 0.8046402  0.7688472  0.80964017 0.994375   0.70039815 1.0004575
 0.850045   0.8505023  0.271875   0.9256439  0.725625   0.6895
 0.50024134 0.53567797 0.6509623  0.8001171  0.6000407  0.6181818
 0.9425     0.7501407  0.5005281  0.85061055 0.98098487 0.70050895
 0.2682143  0.49998033 0.7782222  0.9977922  0.81640625 0.80059445
 0.7500412  0.800402   0.23370548 0.800402   0.8000235  1.0000186
 0.8006438  0.6585417  0.35041666 0.24941666 0.8865     0.9769792
 0.41083333 0.50080174 0.62941664 0.80080867 0.8001373  0.41083333
 0.97186667 0.44104168 0.32740742 0.5795115  0.70025176 0.65676373
 0.35070643 0.8208333  0.7006034  0.6041667  0.7507701  0.95018595].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [131]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tallenna vastaukset exp_var- ja max_err-muuttujiin.
print(f'Test length: {len(X_test)}')
print(f'Train length: {len(X_train)}')
print(f'Train columns: {X_train.columns}')
print(f'Explained variance: {exp_var}')
print(f'Maximum error: {max_err}')

Test length: 396
Train length: 801
Train columns: Index(['team', 'targeted_productivity', 'smv', 'wip', 'over_time', 'incentive',
       'idle_time', 'idle_men', 'no_of_style_change', 'no_of_workers'],
      dtype='object')

NameError: name 'exp_var' is not defined

## Tehtävä 3
### Aihe: Luokittelu

3 pistettä

1. Muodosta koulutus- ja testausaineisto. Käytä satunnaissiementä `23`. Huomioi, että nyt ennustetaan `class`-muuttujaa.

2. Käytä `scikit-learn`-kirjaston `ensemble`-moduulin [funktioita](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.ensemble) ja luo luokittelumalli satunnaismetsää hyödyntäen. Käytä satunnaissiementä 753. Yritetään siis ennustaa luokkamuuttujaa `class`. 

3. Ennusta testausaineistosta `class`. Luo tarkkuusraportti `cr` ja sekaannusmatriisi `cm` kirjaston `metrics`-moduulin työkaluilla.

In [ ]:
# Kirjoita toteutuksesi tähän soluun.

In [ ]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tulokset ovat cm- ja cr-muuttujissa. 
print(f'Test length: {len(X_test)}')
print(f'Train length: {len(X_train)}')
print(cr)
print(cm)