# Koneoppiminen: Osa 6: Satunnaismetsä

In [245]:
# Kirjoita tähän tietosi!
student_name = 'Riikka Kokko'
student_id = 'AA9067'

## Tehtävä 1
### Aihe: Tekstiilityöntekijöiden tuottavuus

4 pistettä

1. Tutustu ja lataa aineisto osoitteesta https://archive.ics.uci.edu/ml/datasets/Productivity+Prediction+of+Garment+Employees# . Lataa aineisto DataFrameen. 

2. Jätä pois taustamuuttujat analysoitavasta datasta.

3. Ratkaise mitä teet puuttuville arvoille.

4. Normalisoi. 

5. Luo lisäksi luokkamuuttuja, joka on arvoltaa 0, jos tuottavuus on alle 0.5 ja arvoltaan 1, jos tuottavuus on yli 0.5. Tallenna tämä df-muuttujaan sarakkeeksi `class`.

In [30]:
# Kirjoita toteutuksesi tähän soluun. 
# Lataa aineisto DataFrameen.
import pandas as pd
df=pd.read_csv("garments_worker_productivity.csv")
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [31]:
#Jätä pois taustamuuttujat analysoitavasta datasta.
new_df=df.drop(['date'], axis = 1)
new_df=new_df.drop(['quarter'], axis = 1)
new_df.head()

,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [32]:
#df['incentive'].value_counts()
new_df['department'].value_counts()

sweing        691
finishing     257
finishing     249
Name: department, dtype: int64

In [33]:
new_df["department"].replace({"sweing": 1, "finishing": 2, "finishing ":2}, inplace=True)
new_df.head()

,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,2,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [34]:
new_df['department'].value_counts()

1    691
2    506
Name: department, dtype: int64

In [35]:
new_df['day'].value_counts()

Wednesday    208
Sunday       203
Tuesday      201
Thursday     199
Monday       199
Saturday     187
Name: day, dtype: int64

In [36]:
new_df["day"].replace({"Monday": 1, "Tuesday": 2, "Wednesday":3, "Thursday":4, "Friday":5, "Saturday":6, "Sunday":7 }, inplace=True)
new_df.head()

,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1,4,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,2,4,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1,4,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1,4,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1,4,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [37]:
new_df['day'].value_counts()

3    208
7    203
2    201
4    199
1    199
6    187
Name: day, dtype: int64

In [38]:
#Ratkaise mitä teet puuttuville arvoille.
new_df.isnull()
print(new_df.isnull().sum())

department                 0
day                        0
team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_style_change         0
no_of_workers              0
actual_productivity        0
dtype: int64

In [39]:
#new_df['wip'].value_counts()

In [40]:
#new_df['actual_productivity'].value_counts()
#new_df['actual_productivity'].value_counts()

In [41]:
#new_df.describe()

In [42]:
#new_df.head(50)

In [43]:
new_df.sort_values(by=['wip'], inplace=True, ascending=False)

In [44]:
#Ratkaise mitä teet puuttuville arvoille.
new_df['wip'] = new_df['wip'].fillna(0)

In [45]:
print(new_df.isnull().sum())

department               0
day                      0
team                     0
targeted_productivity    0
smv                      0
wip                      0
over_time                0
incentive                0
idle_time                0
idle_men                 0
no_of_style_change       0
no_of_workers            0
actual_productivity      0
dtype: int64

In [46]:
#Normalisoi
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
new_df[["department", "day", "team","targeted_productivity","smv","wip", "over_time", "incentive", "idle_time", "idle_men", "no_of_style_change", "no_of_workers"]] = min_max_scaler.fit_transform(new_df[["department", "day","team","targeted_productivity","smv","wip", "over_time", "incentive", "idle_time", "idle_men", "no_of_style_change", "no_of_workers"]])
new_df.head()

,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
569,0.0,0.0,0.272727,1.0,0.379791,1.000000,0.229167,0.013889,0.0,0.0,0.0,0.626437,0.800393
565,0.0,0.0,0.818182,1.0,0.379791,0.931580,0.259259,0.024444,0.0,0.0,0.0,0.620690,0.900130
563,0.0,0.0,0.090909,1.0,0.379791,0.924877,0.270833,0.024444,0.0,0.0,0.0,0.649425,0.900158
564,0.0,0.0,0.181818,1.0,0.379791,0.919730,0.263889,0.019444,0.0,0.0,0.0,0.632184,0.900142
561,0.0,0.0,0.000000,1.0,0.387921,0.730127,0.270833,0.031389,0.0,0.0,0.0,0.649425,1.000602

In [47]:
#Luo lisäksi luokkamuuttuja, joka on arvoltaa 0, jos tuottavuus on alle 0.5 ja arvoltaan 1, jos tuottavuus on yli 0.5. Tallenna tämä df-muuttujaan sarakkeeksi class.
new_df.loc[df['actual_productivity']<0.5, 'class'] = 0
new_df.loc[df['actual_productivity']>0.5, 'class'] = 1
new_df.head(25)

,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,class
569,0.0,0.000000,0.272727,1.000000,0.379791,1.000000,0.229167,0.013889,0.0,0.0,0.0,0.626437,0.800393,1.0
565,0.0,0.000000,0.818182,1.000000,0.379791,0.931580,0.259259,0.024444,0.0,0.0,0.0,0.620690,0.900130,1.0
563,0.0,0.000000,0.090909,1.000000,0.379791,0.924877,0.270833,0.024444,0.0,0.0,0.0,0.649425,0.900158,1.0
564,0.0,0.000000,0.181818,1.000000,0.379791,0.919730,0.263889,0.019444,0.0,0.0,0.0,0.632184,0.900142,1.0
561,0.0,0.000000,0.000000,1.000000,0.387921,0.730127,0.270833,0.031389,0.0,0.0,0.0,0.649425,1.000602,1.0
568,0.0,0.000000,1.000000,1.000000,0.239257,0.530274,0.138889,0.017500,0.0,0.0,0.0,0.379310,0.800402,1.0
572,0.0,0.000000,0.909091,0.863014,0.341657,0.423493,0.250000,0.016667,0.0,0.0,0.0,0.597701,0.700398,1.0
570,0.0,0.000000,0.727273,0.931507,0.507549,0.388894,0.268519,0.015278,0.0,0.0,0.0,0.643678,0.799963,1.0
573,0.0,0.000000,0.454545,0.863014,0.307588,0.129055,0.152778,0.008333,0.0,0.0,0.0,0.356322,0.700355,1.0
577,0.0,0.000000,0.545455,0.863014,0.413473,0.116685,0.259259,0.000000,0.0,0.0,0.0,0.620690,0.295308,0.0
817,0.0,0.166667,0.727273,0.794521,0.307588,0.091688,0.212963,0.000000,0.0,0.0,0.5,0.563218,0.650134,1.0
801,0.0,0.000000,0.727273,0.726027,0.307588,0.090952,0.208333,0.000000,0.0,0.0,0.5,0.597701,0.329965,0.0
467,0.0,0.166667,0.000000,0.931507,0.387921,0.080919,0.268519,0.015278,0.0,0.0,0.0,0.643678,0.800263,1.0
483,0.0,0.333333,0.000000,0.931507,0.387921,0.080789,0.268519,0.022500,0.0,0.0,0.0,0.643678,0.850362,1.0
381,0.0,0.500000,0.909091,0.863014,0.232094,0.080573,0.395833,0.013889,0.0,0.0,0.0,0.632184,0.700170,1.0
387,0.0,0.500000,0.545455,0.726027,0.379791,0.080400,0.395833,0.006389,0.0,0.0,0.0,0.632184,0.600414,1.0
919,0.0,0.166667,0.818182,0.863014,0.355207,0.079318,0.245370,0.000000,0.0,0.0,0.5,0.586207,0.471108,0.0
1058,0.0,0.333333,0.000000,0.863014,0.463027,0.076637,0.268519,0.013889,0.0,0.0,0.0,0.643678,0.750652,1.0
446,0.0,0.000000,0.090909,0.931507,0.387921,0.076291,0.395833,0.015278,0.0,0.0,0.0,0.632184,0.800034,1.0
447,0.0,0.000000,0.000000,0.863014,0.387921,0.075469,0.402778,0.016667,0.0,0.0,0.0,0.643678,0.800024,1.0
363,0.0,0.333333,0.909091,0.863014,0.232094,0.075037,0.395833,0.013889,0.0,0.0,0.0,0.632184,0.700170,1.0
369,0.0,0.333333,0.545455,0.589041,0.379791,0.074388,0.388889,0.006389,0.0,0.0,0.0,0.620690,0.500241,1.0
877,0.0,1.000000,0.727273,0.863014,0.307588,0.074258,0.125000,0.008333,0.0,0.0,0.5,0.632184,0.627011,1.0
784,0.0,1.000000,0.727273,0.589041,0.307588,0.073004,0.203704,0.000000,0.0,0.0,0.5,0.597701,0.283054,0.0
424,0.0,1.000000,0.000000,0.863014,0.387921,0.072745,0.406250,0.020833,0.0,0.0,0.0,0.649425,0.800910,1.0

In [48]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tallenna DataFrame df-muuttujaan ja koulutusaineisto.
print(f'Columns: {new_df.columns}')
print(f'First row by position: {new_df.iloc[0]}')

Columns: Index(['department', 'day', 'team', 'targeted_productivity', 'smv', 'wip',
       'over_time', 'incentive', 'idle_time', 'idle_men', 'no_of_style_change',
       'no_of_workers', 'actual_productivity', 'class'],
      dtype='object')
First row by position: department               0.000000
day                      0.000000
team                     0.272727
targeted_productivity    1.000000
smv                      0.379791
wip                      1.000000
over_time                0.229167
incentive                0.013889
idle_time                0.000000
idle_men                 0.000000
no_of_style_change       0.000000
no_of_workers            0.626437
actual_productivity      0.800393
class                    1.000000
Name: 569, dtype: float64

## Tehtävä 2
### Aihe: Regressio

3 pistettä

1. Jaa aineisto koulutus- (67%) ja testausaineistoksi (33%) tallentaen myös luokkamuuttujat omiksi vektoreiksi (`X_train`, `y_train`, `X_test`, `y_test`). Käytä satunnaissiementä `23`.

Vinkki: älä laita sarakkeita `actual_productivity` tai `class` aineistoon `X`-muuttujiin.

2. Käytä `scikit-learn`-kirjaston `ensemble`-moduulin [funktioita](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.ensemble) ja luo regressiomalli satunnaismetsää hyödyntäen. Yritetään siis ennustaa `actual_productivity`-muuttujaa. 

Käytä satunnaissiementä `753`.

3. Ennusta testausaineiston `actual_productivity`. Tallenna selitetty varianssi `exp_var` ja suurin virhe `max_err` kirjaston `metrics`-moduulin työkaluilla.

In [49]:
# Kirjoita toteutuksesi tähän soluun.

In [50]:
new_new_df=new_df.drop(['class'], axis = 1)

In [51]:
#Jaa aineisto koulutus- (67%) ja testausaineistoksi (33%) tallentaen myös luokkamuuttujat omiksi vektoreiksi (X_train, y_train, X_test, y_test). Käytä satunnaissiementä 23.
from sklearn.model_selection import train_test_split
X=new_new_df.drop("actual_productivity", axis=1)
y=new_new_df["actual_productivity"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=23)

In [52]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=753)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [53]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_test, y_pred, multioutput='uniform_average')

0.4213011115890235

In [54]:
exp_var=explained_variance_score(y_test, y_pred)
exp_var

0.4213011115890235

In [55]:
from sklearn import metrics
max_err=metrics.max_error(y_test, y_pred)
max_err

0.5817722405500001

In [56]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tallenna vastaukset exp_var- ja max_err-muuttujiin.
print(f'Test length: {len(X_test)}')
print(f'Train length: {len(X_train)}')
print(f'Train columns: {X_train.columns}')
print(f'Explained variance: {exp_var}')
print(f'Maximum error: {max_err}')

Test length: 396
Train length: 801
Train columns: Index(['department', 'day', 'team', 'targeted_productivity', 'smv', 'wip',
       'over_time', 'incentive', 'idle_time', 'idle_men', 'no_of_style_change',
       'no_of_workers'],
      dtype='object')
Explained variance: 0.4213011115890235
Maximum error: 0.5817722405500001

## Tehtävä 3
### Aihe: Luokittelu

3 pistettä

1. Muodosta koulutus- ja testausaineisto. Käytä satunnaissiementä `23`. Huomioi, että nyt ennustetaan `class`-muuttujaa.

2. Käytä `scikit-learn`-kirjaston `ensemble`-moduulin [funktioita](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.ensemble) ja luo luokittelumalli satunnaismetsää hyödyntäen. Käytä satunnaissiementä 753. Yritetään siis ennustaa luokkamuuttujaa `class`. 

3. Ennusta testausaineistosta `class`. Luo tarkkuusraportti `cr` ja sekaannusmatriisi `cm` kirjaston `metrics`-moduulin työkaluilla.

In [57]:
# Kirjoita toteutuksesi tähän soluun. 
new_df1=new_df.drop(['actual_productivity'], axis = 1)

In [58]:
from sklearn.model_selection import train_test_split
X=new_df1.drop("class", axis=1)
y=new_df1["class"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=23)

In [59]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [60]:
from sklearn.metrics import classification_report, confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cr=classification_report(y_test,y_pred)

In [61]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tulokset ovat cm- ja cr-muuttujissa. 
print(f'Test length: {len(X_test)}')
print(f'Train length: {len(X_train)}')
print(cr)
print(cm)

Test length: 396
Train length: 801
              precision    recall  f1-score   support

         0.0       0.68      0.30      0.42        50
         1.0       0.91      0.98      0.94       346

    accuracy                           0.89       396
   macro avg       0.79      0.64      0.68       396
weighted avg       0.88      0.89      0.88       396

[[ 15  35]
 [  7 339]]