# Koneoppiminen: Osa 7: Perseptroni

In [ ]:
# Kirjoita tähän tietosi!
student_name = 'Riikka Kokko'
student_id = 'AA9067'

## Tehtävä 1
### Aihe: Onnellisuus

2 pistettä

Tutustu aineistoon *Somerville Happiness Survey Data Set* osoitteessa https://archive.ics.uci.edu/ml/datasets/Somerville+Happiness+Survey . 

Esikäsittele aineisto. Käytä `scikit-learnMuista asettaa sarakkeiden nimet. 

Vinkki: UTF-16-enkoodattuja tiedostoja varten Pandasin CSV-funktiosta löytyy parametri `encoding='utf-16'`.

Vinkki: kannattaa *one-hot*-koodata kategoria

In [16]:
# Kirjoita toteutuksesi tähän soluun. 
import pandas as pd
df=pd.read_csv("SomervilleHappinessSurvey2015.csv", encoding='utf-16')
df.head(50)

    D  X1  X2  X3  X4  X5  X6
0   0   3   3   3   4   2   4
1   0   3   2   3   5   4   3
2   1   5   3   3   3   3   5
3   0   5   4   3   3   3   5
4   0   5   4   3   3   3   5
5   1   5   5   3   5   5   5
6   0   3   1   2   2   1   3
7   1   5   4   4   4   4   5
8   0   4   1   4   4   4   4
9   0   4   4   4   2   5   5
10  0   3   2   3   3   2   3
11  0   4   4   3   4   4   4
12  1   5   2   4   5   5   5
13  0   4   2   4   5   4   3
14  0   4   1   3   3   4   3
15  1   3   2   4   3   4   4
16  0   5   3   4   5   4   5
17  1   5   1   4   3   4   5
18  0   5   1   2   4   4   5
19  0   4   2   4   4   4   4
20  1   4   2   3   3   4   4
21  1   4   2   3   3   4   4
22  0   4   3   5   5   5   4
23  0   4   3   5   5   5   4
24  1   5   1   2   5   2   4
25  1   4   3   3   3   3   4
26  0   3   4   3   3   2   3
27  1   3   3   3   5   5   5
28  1   3   3   1   3   3   4
29  1   3   3   1   3   3   4
30  1   5   3   3   3   5   3
31  0   5   3   3   3   5   3
32  0   4   3   3   3   4   4
33  0   4   1   3   4   4   5
34  1   3   2   4   4   4   5
35  1   3   2   4   4   4   5
36  1   4   1   3   1   1   4
37  0   4   2   3   3   4   4
38  1   5   3   4   3   4   5
39  1   5   3   4   3   4   5
40  1   5   2   3   3   2   5
41  1   4   4   3   4   2   4
42  0   4   1   3   4   4   3
43  0   5   2   3   3   3   3
44  1   4   2   4   3   2   4
45  0   5   2   3   3   4   5
46  0   4   3   3   4   2   4
47  1   3   1   2   4   3   5
48  1   5   3   4   4   4   5
49  1   5   3   3   4   4   5

In [14]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit([df['D']])

OneHotEncoder()

In [15]:
df.head()

   D  X1  X2  X3  X4  X5  X6
0  0   3   3   3   4   2   4
1  0   3   2   3   5   4   3
2  1   5   3   3   3   3   5
3  0   5   4   3   3   3   5
4  0   5   4   3   3   3   5

In [9]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tallenna DataFrame df-muuttujaan ja koulutusaineisto.
print(f'Columns: {df.columns}')
print(f'First row by position: {df.iloc[0]}')

Columns: Index(['D', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6'], dtype='object')
First row by position: D     0
X1    3
X2    3
X3    3
X4    4
X5    2
X6    4
Name: 0, dtype: int64

## Tehtävä 2
### Aihe: Koulutusaineisto

2 pistettä

Jaa aineisto koulutus- (67%) ja testausaineistoon (33%) (`X_train`, `y_train`, `X_test`, `y_test`). Käytä satunnaissiementä `9001`.

In [ ]:
# Kirjoita toteutuksesi tähän soluun.

In [ ]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tallenna DataFrame df-muuttujaan ja koulutusaineisto.
print(f'Test length: {len(X_test)}')
print(f'Train length: {len(X_train)}')

## Tehtävä 3
### Aihe: Perseptroni

2 pistettä

1. Käytä `scikit-learn`-kirjaston lineaarista perseptronia luodaksesi luokittelija. Käytä satunnaissiementä `9001`. Tallenna luokittelija `pc`-muuttujaan.

2. Ennusta testausaineistosi todennäköisyys olla luokassa käyttäen luokittelijaasi ja tallenna luottamuspisteet muuttujaan `y_score`. Tallenna ennustettujen luokkien tulos muuttujaan `y_pred`.

Vinkki: luottamuspisteet saa lineaarisesta perseptronista `decision_function()`-funktiolla.

In [ ]:
# Kirjoita toteutuksesi tähän soluun.

In [ ]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
print(f'Average test accuracy: {pc.score(X_test, y_test)}')

## Tehtävä 4
### Aihe: Kynnysarvon optimointikäyrä

4 pistettä

1. Tallenna luokitteluraportti `cr` ja sekaannusmatriisi `cm` käyttäen `metrics`-moduulia.

2. Laske regressiolle ROC-arvot `scikit-learn`-kirjaston `metrics`-moduulin avulla. Laske myös ROC-käyrän alainen alue muuttujaa `auc`.

3. Piirrä kynnysarvon optimointikäyrä `matplotlib`-kirjastolla. 

4. Kirjoita `pohdinta`-merkkijonomuuttujaan mitä ajatuksia ROC-käyrä ja tarkkuus herättävät.

In [ ]:
# Kirjoita toteutuksesi tähän soluun.

# Pohdintaa.
pohdinta="ei vastausta"

In [ ]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tee vastauksesi siten, että tämän solun tuloksena näkyy alla kaaviokuva.
print(f'Classification report:\n {cr}')
print(f'Confusion matrix:\n {cm}')
print(f'auc: {auc}')
print(f'Pohdinta: {pohdinta}')
fig