# Koneoppiminen: Osa 6: Satunnaismetsä

In [245]:
# Kirjoita tähän tietosi!
student_name = 'Riikka Kokko'
student_id = 'AA9067'

## Tehtävä 1
### Aihe: Tekstiilityöntekijöiden tuottavuus

4 pistettä

1. Tutustu ja lataa aineisto osoitteesta https://archive.ics.uci.edu/ml/datasets/Productivity+Prediction+of+Garment+Employees# . Lataa aineisto DataFrameen. 

2. Jätä pois taustamuuttujat analysoitavasta datasta.

3. Ratkaise mitä teet puuttuville arvoille.

4. Normalisoi. 

5. Luo lisäksi luokkamuuttuja, joka on arvoltaa 0, jos tuottavuus on alle 0.5 ja arvoltaan 1, jos tuottavuus on yli 0.5. Tallenna tämä df-muuttujaan sarakkeeksi `class`.

In [246]:
# Kirjoita toteutuksesi tähän soluun. 
# Lataa aineisto DataFrameen.
import pandas as pd
df=pd.read_csv("garments_worker_productivity.csv")
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [247]:
#Jätä pois taustamuuttujat analysoitavasta datasta.
new_df=df.drop(['date'], axis = 1)
new_df=new_df.drop(['quarter'], axis = 1)
new_df=new_df.drop(['department'], axis = 1)
new_df=new_df.drop(['day'], axis = 1)
new_df.head()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [248]:
#df['incentive'].value_counts()
#df['department'].value_counts()

In [249]:
#Ratkaise mitä teet puuttuville arvoille.
new_df.isnull()
print(new_df.isnull().sum())

team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_style_change         0
no_of_workers              0
actual_productivity        0
dtype: int64

In [250]:
#new_df['wip'].value_counts()

In [251]:
#new_df['actual_productivity'].value_counts()
#new_df['actual_productivity'].value_counts()

In [252]:
#new_df.describe()

In [253]:
#new_df.head(50)

In [254]:
new_df.sort_values(by=['wip'], inplace=True, ascending=False)

In [255]:
#Ratkaise mitä teet puuttuville arvoille.
new_df=new_df.interpolate(method ='linear', limit_direction ='forward')

In [256]:
print(new_df.isnull().sum())

team                     0
targeted_productivity    0
smv                      0
wip                      0
over_time                0
incentive                0
idle_time                0
idle_men                 0
no_of_style_change       0
no_of_workers            0
actual_productivity      0
dtype: int64

In [257]:
#Normalisoi
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
new_df[["team","targeted_productivity","smv","wip", "over_time", "incentive", "idle_time", "idle_men", "no_of_style_change", "no_of_workers"]] = min_max_scaler.fit_transform(new_df[["team","targeted_productivity","smv","wip", "over_time", "incentive", "idle_time", "idle_men", "no_of_style_change", "no_of_workers"]])
new_df.head()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
569,0.272727,1.0,0.379791,1.000000,0.229167,0.013889,0.0,0.0,0.0,0.626437,0.800393
565,0.818182,1.0,0.379791,0.931560,0.259259,0.024444,0.0,0.0,0.0,0.620690,0.900130
563,0.090909,1.0,0.379791,0.924854,0.270833,0.024444,0.0,0.0,0.0,0.649425,0.900158
564,0.181818,1.0,0.379791,0.919706,0.263889,0.019444,0.0,0.0,0.0,0.632184,0.900142
561,0.000000,1.0,0.387921,0.730045,0.270833,0.031389,0.0,0.0,0.0,0.649425,1.000602

In [258]:
#Luo lisäksi luokkamuuttuja, joka on arvoltaa 0, jos tuottavuus on alle 0.5 ja arvoltaan 1, jos tuottavuus on yli 0.5. Tallenna tämä df-muuttujaan sarakkeeksi class.
new_df.loc[df['actual_productivity']<0.5, 'class'] = 0
new_df.loc[df['actual_productivity']>0.5, 'class'] = 1
new_df.head(25)

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity,class
569,0.272727,1.000000,0.379791,1.000000,0.229167,0.013889,0.0,0.0,0.0,0.626437,0.800393,1.0
565,0.818182,1.000000,0.379791,0.931560,0.259259,0.024444,0.0,0.0,0.0,0.620690,0.900130,1.0
563,0.090909,1.000000,0.379791,0.924854,0.270833,0.024444,0.0,0.0,0.0,0.649425,0.900158,1.0
564,0.181818,1.000000,0.379791,0.919706,0.263889,0.019444,0.0,0.0,0.0,0.632184,0.900142,1.0
561,0.000000,1.000000,0.387921,0.730045,0.270833,0.031389,0.0,0.0,0.0,0.649425,1.000602,1.0
568,1.000000,1.000000,0.239257,0.530132,0.138889,0.017500,0.0,0.0,0.0,0.379310,0.800402,1.0
572,0.909091,0.863014,0.341657,0.423318,0.250000,0.016667,0.0,0.0,0.0,0.597701,0.700398,1.0
570,0.727273,0.931507,0.507549,0.388709,0.268519,0.015278,0.0,0.0,0.0,0.643678,0.799963,1.0
573,0.454545,0.863014,0.307588,0.128791,0.152778,0.008333,0.0,0.0,0.0,0.356322,0.700355,1.0
577,0.545455,0.863014,0.413473,0.116418,0.259259,0.000000,0.0,0.0,0.0,0.620690,0.295308,0.0
817,0.727273,0.794521,0.307588,0.091413,0.212963,0.000000,0.0,0.0,0.5,0.563218,0.650134,1.0
801,0.727273,0.726027,0.307588,0.090677,0.208333,0.000000,0.0,0.0,0.5,0.597701,0.329965,0.0
467,0.000000,0.931507,0.387921,0.080640,0.268519,0.015278,0.0,0.0,0.0,0.643678,0.800263,1.0
483,0.000000,0.931507,0.387921,0.080510,0.268519,0.022500,0.0,0.0,0.0,0.643678,0.850362,1.0
381,0.909091,0.863014,0.232094,0.080294,0.395833,0.013889,0.0,0.0,0.0,0.632184,0.700170,1.0
387,0.545455,0.726027,0.379791,0.080121,0.395833,0.006389,0.0,0.0,0.0,0.632184,0.600414,1.0
919,0.818182,0.863014,0.355207,0.079040,0.245370,0.000000,0.0,0.0,0.5,0.586207,0.471108,0.0
1058,0.000000,0.863014,0.463027,0.076357,0.268519,0.013889,0.0,0.0,0.0,0.643678,0.750652,1.0
446,0.090909,0.931507,0.387921,0.076011,0.395833,0.015278,0.0,0.0,0.0,0.632184,0.800034,1.0
447,0.000000,0.863014,0.387921,0.075189,0.402778,0.016667,0.0,0.0,0.0,0.643678,0.800024,1.0
363,0.909091,0.863014,0.232094,0.074757,0.395833,0.013889,0.0,0.0,0.0,0.632184,0.700170,1.0
369,0.545455,0.589041,0.379791,0.074108,0.388889,0.006389,0.0,0.0,0.0,0.620690,0.500241,1.0
877,0.727273,0.863014,0.307588,0.073978,0.125000,0.008333,0.0,0.0,0.5,0.632184,0.627011,1.0
784,0.727273,0.589041,0.307588,0.072723,0.203704,0.000000,0.0,0.0,0.5,0.597701,0.283054,0.0
424,0.000000,0.863014,0.387921,0.072464,0.406250,0.020833,0.0,0.0,0.0,0.649425,0.800910,1.0

In [259]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tallenna DataFrame df-muuttujaan ja koulutusaineisto.
print(f'Columns: {new_df.columns}')
print(f'First row by position: {new_df.iloc[0]}')

Columns: Index(['team', 'targeted_productivity', 'smv', 'wip', 'over_time', 'incentive',
       'idle_time', 'idle_men', 'no_of_style_change', 'no_of_workers',
       'actual_productivity', 'class'],
      dtype='object')
First row by position: team                     0.272727
targeted_productivity    1.000000
smv                      0.379791
wip                      1.000000
over_time                0.229167
incentive                0.013889
idle_time                0.000000
idle_men                 0.000000
no_of_style_change       0.000000
no_of_workers            0.626437
actual_productivity      0.800393
class                    1.000000
Name: 569, dtype: float64

## Tehtävä 2
### Aihe: Regressio

3 pistettä

1. Jaa aineisto koulutus- (67%) ja testausaineistoksi (33%) tallentaen myös luokkamuuttujat omiksi vektoreiksi (`X_train`, `y_train`, `X_test`, `y_test`). Käytä satunnaissiementä `23`.

Vinkki: älä laita sarakkeita `actual_productivity` tai `class` aineistoon `X`-muuttujiin.

2. Käytä `scikit-learn`-kirjaston `ensemble`-moduulin [funktioita](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.ensemble) ja luo regressiomalli satunnaismetsää hyödyntäen. Yritetään siis ennustaa `actual_productivity`-muuttujaa. 

Käytä satunnaissiementä `753`.

3. Ennusta testausaineiston `actual_productivity`. Tallenna selitetty varianssi `exp_var` ja suurin virhe `max_err` kirjaston `metrics`-moduulin työkaluilla.

In [260]:
# Kirjoita toteutuksesi tähän soluun.

In [261]:
new_new_df=new_df.drop(['class'], axis = 1)

In [262]:
#Jaa aineisto koulutus- (67%) ja testausaineistoksi (33%) tallentaen myös luokkamuuttujat omiksi vektoreiksi (X_train, y_train, X_test, y_test). Käytä satunnaissiementä 23.
from sklearn.model_selection import train_test_split
X=new_new_df.drop("actual_productivity", axis=1)
y=new_new_df["actual_productivity"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=23)

In [263]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=753)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [264]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_test, y_pred, multioutput='uniform_average')

0.5145293558219503

In [265]:
exp_var=explained_variance_score(y_test, y_pred)
exp_var

0.5145293558219503

In [266]:
from sklearn import metrics
max_err=metrics.max_error(y_test, y_pred)
max_err

0.5822404915638708

In [267]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tallenna vastaukset exp_var- ja max_err-muuttujiin.
print(f'Test length: {len(X_test)}')
print(f'Train length: {len(X_train)}')
print(f'Train columns: {X_train.columns}')
print(f'Explained variance: {exp_var}')
print(f'Maximum error: {max_err}')

Test length: 396
Train length: 801
Train columns: Index(['team', 'targeted_productivity', 'smv', 'wip', 'over_time', 'incentive',
       'idle_time', 'idle_men', 'no_of_style_change', 'no_of_workers'],
      dtype='object')
Explained variance: 0.5145293558219503
Maximum error: 0.5822404915638708

## Tehtävä 3
### Aihe: Luokittelu

3 pistettä

1. Muodosta koulutus- ja testausaineisto. Käytä satunnaissiementä `23`. Huomioi, että nyt ennustetaan `class`-muuttujaa.

2. Käytä `scikit-learn`-kirjaston `ensemble`-moduulin [funktioita](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.ensemble) ja luo luokittelumalli satunnaismetsää hyödyntäen. Käytä satunnaissiementä 753. Yritetään siis ennustaa luokkamuuttujaa `class`. 

3. Ennusta testausaineistosta `class`. Luo tarkkuusraportti `cr` ja sekaannusmatriisi `cm` kirjaston `metrics`-moduulin työkaluilla.

In [275]:
# Kirjoita toteutuksesi tähän soluun. 
new_df1=new_df.drop(['actual_productivity'], axis = 1)

In [276]:
from sklearn.model_selection import train_test_split
X=new_df1.drop("class", axis=1)
y=new_df1["class"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=23)

In [277]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [279]:
from sklearn.metrics import classification_report, confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cr=classification_report(y_test,y_pred)

In [280]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tulokset ovat cm- ja cr-muuttujissa. 
print(f'Test length: {len(X_test)}')
print(f'Train length: {len(X_train)}')
print(cr)
print(cm)

Test length: 396
Train length: 801
              precision    recall  f1-score   support

         0.0       0.80      0.32      0.46        50
         1.0       0.91      0.99      0.95       346

    accuracy                           0.90       396
   macro avg       0.85      0.65      0.70       396
weighted avg       0.90      0.90      0.89       396

[[ 16  34]
 [  4 342]]