# Koneoppiminen: Osa 4: Tukivektorikone

In [ ]:
# Kirjoita tähän tietosi!
student_name = 'Riikka Kokko'
student_id = 'AA9067'

## Tehtävä 1
### Aihe: Pulsariaineisto

3 pistettä

Pulsareita käsittelevä aineisto osoitteesta https://archive.ics.uci.edu/ml/datasets/HTRU2 . Tavoitteena on luokitella aineiston datapisteet joko pulsariksi tai muunlaiseksi kohteeksi. Aineistossa on luokkamuuttuja viimeisessä sarakkeessa. 

1. Lataa aineisto DataFrameen. 
2. Nimeä DataFramen sarakkeet aineiston mukaisesti. Sarakkeiden nimet näet esimerkiksi `.arff`-tiedoston otsakkeesta.  
3. Normalisoi sarakkeiden arvot.

In [17]:
# Kirjoita toteutuksesi tähän soluun. 

# Datan lataaminen.
import pandas as pd
#df=pd.read_csv("rexaSmall.names", sep=",", delim_whitespace=False, encoding='latin1')
df = pd.read_csv('HTRU2.tar.gz', compression='gzip', header=0, sep=' ', quotechar='"', error_bad_lines=False)
df.head()
# Sarakkeiden nimeäminen.

# Sarakkkeiden normalisointi.

b'Skipping line 5: expected 9 fields, saw 13\nSkipping line 6: expected 9 fields, saw 10\nSkipping line 15: expected 9 fields, saw 15\nSkipping line 18: expected 9 fields, saw 15\nSkipping line 19: expected 9 fields, saw 13\nSkipping line 20: expected 9 fields, saw 12\nSkipping line 22: expected 9 fields, saw 14\nSkipping line 23: expected 9 fields, saw 14\nSkipping line 24: expected 9 fields, saw 11\nSkipping line 27: expected 9 fields, saw 13\nSkipping line 28: expected 9 fields, saw 16\nSkipping line 29: expected 9 fields, saw 14\nSkipping line 30: expected 9 fields, saw 15\nSkipping line 31: expected 9 fields, saw 13\nSkipping line 32: expected 9 fields, saw 12\nSkipping line 35: expected 9 fields, saw 13\nSkipping line 36: expected 9 fields, saw 11\nSkipping line 37: expected 9 fields, saw 13\nSkipping line 38: expected 9 fields, saw 13\nSkipping line 39: expected 9 fields, saw 12\nSkipping line 42: expected 9 fields, saw 14\nSkipping line 43: expected 9 fields, saw 13\nSkipping line 44: expected 9 fields, saw 13\nSkipping line 45: expected 9 fields, saw 14\nSkipping line 46: expected 9 fields, saw 13\nSkipping line 47: expected 9 fields, saw 15\nSkipping line 48: expected 9 fields, saw 15\nSkipping line 67: expected 9 fields, saw 17\nSkipping line 68: expected 9 fields, saw 15\nSkipping line 69: expected 9 fields, saw 18\nSkipping line 72: expected 9 fields, saw 16\nSkipping line 73: expected 9 fields, saw 13\nSkipping line 77: expected 9 fields, saw 20\nSkipping line 79: expected 9 fields, saw 18\nSkipping line 80: expected 9 fields, saw 12\nSkipping line 85: expected 9 fields, saw 16\nSkipping line 86: expected 9 fields, saw 14\nSkipping line 87: expected 9 fields, saw 14\nSkipping line 88: expected 9 fields, saw 13\nSkipping line 93: expected 9 fields, saw 15\nSkipping line 96: expected 9 fields, saw 12\nSkipping line 98: expected 9 fields, saw 11\nSkipping line 100: expected 9 fields, saw 14\nSkipping line 104: expected 9 fields, saw 14\nSkipping line 106: expected 9 fields, saw 16\nSkipping line 110: expected 9 fields, saw 11\nSkipping line 112: expected 9 fields, saw 13\nSkipping line 115: expected 9 fields, saw 17\nSkipping line 119: expected 9 fields, saw 18\n'

,Readme.txt,Unnamed: 1,Unnamed: 2,Unnamed: 3,12665317206,013661,0,Unnamed: 7,Unnamed: 8
0,#,HTRU2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Contact:\trob@scienceguyrob.com,or,robert.lyon@.manchester.ac.uk,NaN,NaN,NaN,NaN,NaN,NaN
2,Web:\t\thttp://www.scienceguyrob.com,or,http://www.cs.manchester.ac.uk,NaN,NaN,NaN,NaN,NaN,NaN
3,\t\t\tor,alternatively,http://www.jb.man.ac.uk,NaN,NaN,NaN,NaN,NaN,NaN
4,**********************************************...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# DataFramen tulisi olla df-muuttujassa. 
print(f'Columns: {df.columns}')
print(f'First row by position: {df.iloc[0]}')

## Tehtävä 2
### Aihe: Koulutus- ja testausaineisto

3 pistettä

Jaa aineisto koulutus- ja testausaineistoon käyttäen `scikit-learn`-kirjaston [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)-funktiota. Laita puolet aineistosta kumpaankin. 

1. Tallenna koulutusaineisto ja sen luokkamuuttuja muuttujiin `X_train`, `y_train`,
2. ja toisaalta testausaineiston `X_test`, `y_test`. 

Käytä satunnaissiemenenä lukua `1492` ja testiaieiston kokoe 33%.

In [ ]:
# Kirjoita toteutuksesi tähän soluun.

In [ ]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
print(f'X_train: {len(X_train)}')
print(f'X_test: {len(X_test)}')
print(f'y_train: {len(y_train)}')
print(f'y_test: {len(y_test)}')

## Tehtävä 3
### Aihe: Tukivektorikone

4 pistettä

1. Käytä `scikit-learn`-kirjaston *Linear Support Vector Classification* -funktiota kouluttaaksesi koulutusaineistollasi luokittelija, joka erottelee pulsarit muista kohteista. 

2. Luo ennusteet testausaineistosi datapisteille `y_pred`-muuttujaan. 

3. Tee `metrics`-moduulilla [luokitteluraportti](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) testausaineistosi ennusteille. Tallenna raportti `cr`-muuttujaan. Kannattaa myös tulostaa se, jotta näet itse tulokset. 

4. Tee `metrics`-moduulilla sekaannusmatriisi ja tallenna se `cm`-muuttujaan.

In [ ]:
# Kirjoita toteutuksesi tähän soluun.

In [ ]:
# Tehtävän vastaukset. Huom! Älä muokkaa tätä solua, vaan aja se, kun olet suorittanut tehtävän. 
# Tulokset ovat cm- ja cr-muuttujissa. 
print(f'Classification report:\n {cr}')
print(f'Confusion matrix:\n {cm}')